<p>
	<b>title:</b> <%= milestone.title %>
	<br />
	<b>description:</b> <%= milestone.long_description %>
	<br />
	<b>target datetime:</b> <%= milestone.target_datetime %>
	<br />
	<b>completed at:</b> <%= milestone.completed_at %>
	<br />
	<b>point value:</b> <%= milestone.point_value %>
</p>
