= content_tag_for( :div, milestone, :class => (milestone.completed_at ? 'record completed' : 'record todo')) do
  = link_to(milestone.title, edit_milestone_path(milestone), :class => 'record-title')
  .record-row.target
    %span.record-label point value 
    %span.record-value=milestone.point_value||'n/a'
    %span.record-label target date
    %span.record-value
      - if milestone.target_datetime
        = distance_of_time_in_words_to_now milestone.target_datetime
      - else
        not set
  .record-row.created-at
    %span.record-label created 
    %span.record-value #{distance_of_time_in_words_to_now milestone.created_at} ago
    %span.record-label completed at 
    %span.record-value
      - if milestone.completed_at
        = milestone.completed_at
      - else
        = button_to "Finish", { :controller => :milestones, :action => "complete", :id => milestone.id }, :remote => true 
