%fieldset
  = form_for(@reward) do |f|
    = f.error_messages
    .field
      = f.label :title
      %br/
      = f.text_field :title
    .field
      = f.label :point_value
      %br/
      = f.number_field :point_value
    .field
      = f.label :plan
      = f.hidden_field :plan_id
      - if defined? user_context
        = hidden_field_tag :user_context, user_context 
      = link_to @reward.plan.title, @reward.plan
    %h3 Photo

    = f.fields_for :reward_photo do |builder|
      .field
        = builder.label :title
        = builder.text_field :title
      .field
        = image_tag builder.object.image if builder.object.image.present?
        %br
        = builder.label :replace_image
        = builder.file_field :image 
    .actions
      #submit_button= f.submit


      :javascript
        $(function(){
          $('#submit_button').hide()
          $('a#submit_form').click(function(event){
            event.preventDefault();
            $('form').submit();
          });
        });
      %a#submit_form.edu-button.a.record-row-left{ :rel => "nofollow", :href => new_goal_path} 
        %span.icon-32.a.record-row-white-32 
        Create Your Reward

