%fieldset
  = form_for(@reward) do |f|
    - if @reward.errors.any?
      #error_explanation
        %h2
          = pluralize(@reward.errors.count, "error")
          prohibited this reward from being saved:
        %ul
          - @reward.errors.full_messages.each do |msg|
            %li= msg
    .field
      = f.label :title
      %br/
      = f.text_field :title
    .field
      = f.label :point_value
      %br/
      = f.number_field :point_value
    .field
      = f.label :plan
      = f.hidden_field :plan_id
      = hidden_field_tag :user_context, user_context

      = link_to @reward.plan.title, @reward.plan
    .actions
      = f.submit
