<%= form_for(@reward_photo, :html => {:multipart => true}) do |f| %>
  <% if @reward_photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reward_photo.errors.count, "error") %> prohibited this reward_photo from being saved:</h2>

      <ul>
      <% @reward_photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :reward_id %><br />
    <%= f.number_field :reward_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
