<%= form_for(@goal) do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <legend>Goal</legend>
    <div class="field">
      <div><%= f.label :title %></div>
      <div><%= f.text_field :title %></div>
    </div>
    <div class="field">
      <div><%= f.label :long_description %></div>
      <div><%= f.text_area :long_description %></div>
    </div>
    <div class="field">
      <div><%= f.label :point_value %></div>
      <div><%= f.number_field :point_value %></div>
    </div>
    <div class="field">
      <div><%= f.label :target_datetime %></div>
      <div><%= f.datetime_select :target_datetime, :include_blank => true  %></div>
    </div>
    <div class="field">
      <div><%= f.label :completed_at %></div>
      <div><%= f.datetime_select :completed_at, :include_blank => true %></div>
    </div>

    <div class="field">
      <div><%= f.label :plan_id %></div>
      <div><%= f.number_field :plan_id %></div>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </fieldset>
<% end %>

