= form_for(@goal) do |f|
  = if @goal.errors.any?
    #error_explanation
      %h2 #{pluralize(@goal.errors.count, "error")} prohibited this goal from being saved:
      #ul
        = @goal.errors.full_messages.each do |msg|
          %li
            = msg
  :javascript
    $(function(){
      $('a#submit_form').click(function(event){
        event.preventDefault();
        $('form').submit();
      });
    });
    
  .wideform
    .field
      = f.label :title
      = f.text_field :title 
    .field
      = f.label :long_description, "Description"
      = f.text_area :long_description
      = hidden_field_tag :user_context, user_context

    .actions
      %a#submit_form.edu-button.a.record-row-left{ :rel => "nofollow",
                                :href => new_goal_path} 
        %span.icon-32.a.record-row-white-32 
        Create Your Goal
      
    .clearer
   
