= content_tag_for( :div, goal, :class => 'record') do
  .float-right
    %table.meta-data
      %tr
        %th Points
        %th Due
        %th Completed
      %tr
        %td 
          = goal.point_value 
        %td
          = distance_of_time_in_words_to_now goal.target_datetime if goal.target_datetime  
        %td.completed-cell
          = goal.completed_at || number_to_percentage(goal.percent_complete, :precision => 1) 
  .row.title.record-title
    = link_to_unless_current(goal.title, goal)

  - if url_for() == url_for(goal) && goal.long_description.present?
    .row.description
      .record-label Description
      = goal.long_description
  .row
    = image_tag goal.plan.reward.reward_photo.image_url(:thumb_small) if goal.plan.reward.reward_photo && goal.plan.reward.reward_photo.image? 
  .row.life-span
    %span.record-label Created 
    %span.record-value #{distance_of_time_in_words_to_now goal.created_at} ago
  .row.plan
    %span.record-label Plan
    - if goal.plan
      %span.record-value= link_to goal.plan.title, goal.plan
    - else
      Unplanned

  - if url_for() != url_for(goal) && !goal.milestones.empty?
    .row.description
      .record-label Next Milestone
      .indent
        - if goal.nextMilestone.nil?
          no incomplete milstones!
        - else
          = render goal.nextMilestone unless goal.nextMilestone.nil?

  .clearer
