%h1 Listing goals
- @goals.each do |goal|
  .record-cntr
    = render goal
    = link_to 'Show', goal 
    = link_to 'Edit', edit_goal_path(goal) 
    = link_to 'Destroy', goal, confirm: 'Are you sure?', method: :delete 
= link_to 'New Goal', goal_wizard_path
