<h1>Listing goals</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Long description</th>
    <th>Point value</th>
    <th>Target date</th>
    <th>Completed at</th>
    <th>Plan</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @goals.each do |goal| %>
  <tr>
    <td><%= goal.title %></td>
    <td><%= goal.long_description %></td>
    <td><%= goal.point_value %></td>
    <td><%= goal.target_datetime %></td>
    <td><%= goal.completed_at %></td>
    <td><%= goal.plan_id %></td>
    <td><%= link_to 'Show', goal %></td>
    <td><%= link_to 'Edit', edit_goal_path(goal) %></td>
    <td><%= link_to 'Destroy', goal, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Goal', new_goal_path %>
