%h2
  Goal
  = link_to image_tag('buttons/edit-button.png'), edit_goal_path(@goal), :style => 'float:right;margin:-7px 10px 5px 5px;'
#notice=notice

.record-cntr

  %em The Journey
  .progress.progress-striped
    .bar.bar-success{ :style => "width: #{number_to_percentage(@goal.percent_complete, :precision => 1)}"}= "#{number_to_percentage(@goal.percent_complete, :precision => 1)} complete"
    .bar.bar-info{ :style => "width: #{number_to_percentage(100 - @goal.percent_complete, :precision => 1)}"}


  = render @goal

.record-cntr
  %em The Prize
  - if @goal.plan.reward
    = render @goal.plan.reward 
  - else
    = link_to 'New Reward', new_reward_path

%h2 Goal Milestones

#milestones.record-cntr(data-update-url="#{sort_milestones_url}")
  = render @goal.milestones 

%h3
  = render :partial => '/shared/popbox', :locals => {:pop_content => 'Milestones are incremental steps you will take to reach your overall goal.'}, :style => 'float:left;'
  Add a Milestone
  %a.vtoggle-trigger(data-toggle-el="milestone-add-panel") 
    %span +

#milestone-add-panel.record-cntr
  = form_for(@goal.milestones.build, :remote => true) do |f|
    #milestone_errors{:style=>'display:none'}
    %fieldset
      .field
        = f.label :title 
        %br
        = f.text_field :title 
      .field
        = f.label :long_description
        %br
        = f.text_area :long_description
      .field
        = f.label :target_datetime, 'Target Date'
        %br
        = f.text_field :target_datetime, :class => "datetime-field"
      .field
        = f.label :point_value
        %br
        = f.number_field :point_value

      .actions
        = f.hidden_field :goal_id 
        = f.submit
:javascript
  $(function() {
    $('#milestone-add-panel').hide();
    $('.vtoggle-trigger').click(function(){
      var a = $(this).toggleClass('open');
      $('#'+a.data('toggle-el')).slideToggle('slow');
    });
  });

%h2 Progress
#progress-chart-cntr
  = link_to "Show Chart #{@goal.assessments.count}", progress_plan_goal_path(@goal.plan, @goal), :remote => true unless @goal.assessments.empty?

%h3 Add an Assessment
.record-cntr
  = render :partial => '/assessments/form', :locals => { :goal => @goal, :assessment => @goal.assessments.build }
