%h3 Goal
#notice=notice

.record-cntr

  %em The Journey 
  = render @goal
  = link_to 'Edit', edit_goal_path(@goal)

.record-cntr
  %em The Prize
  - if @goal.plan.reward
    = render @goal.plan.reward 
  - else
    = link_to 'New Reward', new_reward_path

%h3 Goal Milestones

#milestones.record-cntr(data-update-url="#{sort_milestones_url}")
  = render @goal.milestones 

%h2 Add a Milestone

.record-cntr
  = form_for(@goal.milestones.build, :remote => true) do |f|
    #milestone_errors{:style=>'display:none'}
    %fieldset
      .field
        = f.label :title 
        %br
        = f.text_field :title 
      .field
        = f.label :long_description
        %br
        = f.text_area :long_description
      .field
        = f.label :target_datetime, 'Target Date'
        %br
        = f.text_field :target_datetime, :class => "datetime-field"
      .field
        = f.label :point_value
        %br
        = f.number_field :point_value

      .actions
        = f.hidden_field :goal_id 
        = f.submit
%h2 Add an Assessment
.record-cntr
  = render :partial => '/assessments/form', :locals => { :goal => @goal, :assessment => @goal.assessments.build }
