<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @goal.title %>
</p>

<p>
  <b>Long description:</b>
  <%= @goal.long_description %>
</p>

<p>
  <b>Target datetime:</b>
  <%= @goal.target_datetime %>
</p>

<p>
  <b>Completed at:</b>
  <%= @goal.completed_at %>
</p>

<p>
  <b>Point value:</b>
  <%= @goal.point_value %>
</p>

<p>
  <b>Plan:</b>
  <%= @goal.plan_id %>
</p>

<h3>Milestones</h3>
<%= render @goal.milestones %>
 
<h2>Add a Milestone:</h2>
<!-- This should be a partial -->
<%= form_for(@goal.milestones.build, :remote => true) do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
 <div class="field">
    <%= f.label :long_description %><br />
    <%= f.text_area :long_description %>
  </div>
  <div class="field">
    <%= f.label :target_datetime %><br />
    <%= f.datetime_select :target_datetime, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :completed_at %><br />
    <%= f.datetime_select :completed_at, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :point_value %><br />
    <%= f.number_field :point_value %>
  </div>
  <div class="actions">
	
    <%= f.hidden_field :goal_id %>
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
