<h1>Listing advocacies</h1>

<table>
  <tr>
    <th>Relationship</th>
    <th>Person</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @advocacies.each do |advocacy| %>
  <tr>
    <td><%= advocacy.relationship %></td>
    <td><%= advocacy.person_id %></td>
    <td><%= link_to 'Show', advocacy %></td>
    <td><%= link_to 'Edit', edit_advocacy_path(advocacy) %></td>
    <td><%= link_to 'Destroy', advocacy, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Advocacy', new_advocacy_path %>
