<!DOCTYPE html>
<html>
<head>
  <title>Source</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="content-wrapper">
		<div id="header">
			<div id="logo"></div>
			<div id="authentication">
				<% if current_user %>
					Logged in as <%= current_user.username %>
					<%= link_to "Log out", logout_path %> or
				<% else %>
					<%= link_to "Sign up", signup_path %> or
					<%= link_to "Log in", login_path %>
				<% end %>
			</div>
		</div>
		<div id="content">
			<nav>
			<ul>
				<li><%= link_to "Goals", :controller => :goals, :action => :index %></li>
				<li><a href="#">another link</a></li>
				<li><a href="#">another link</a></li>
				<li><a href="http://dribbble.com/shots/186151-TwoSIX">Style These</a></li>
				
			</ul>
			</nav>
			<div id="content-header">
				
				<% flash.each do |key, msg| %>
				  <%= content_tag :div, msg, :class => "flash_notice", :id => key %>
				  <script "text/javascript">
					$(function() {
					  $('#<%= key %>').hide().fadeIn('slow');
					});
				  </script>

				 
				<% end %>
				
				<div id="flash_notice" class="flash_notice" style="display:none"></div>
			</div>
			<div id="content-main">
			<%= yield %>
			</div>
			<div class="clearer"></div>
			
		</div>
		<div id="footer">
			
		</div>
	</div>
</body>
</html>
